{{!< layout}}
  
    <div class="container">

		<div class="row">
			
			<div class="col-md-5 col-sm-5 list">
				<div class="panel panel-default">
					<div class="panel-body">
						<form>
						    <div class="form-group">
						      <input type="text" class="form-control" placeholder="Search Activities...">
						      <i class="fa fa-search"></i>
						    </div>
						</form>					
					</div>
					<div class="list-group">
						{{#each activities}}
						<a class="list-group-item" 
					 			href="/activities/{{this.id}}"
					 			data-pjax="#activityDetails">
							<i class="fa fa-2x pull-left {{getIconForType this.type}}"></i>
							<h4 class="list-group-item-heading">{{this.subject}}</h4>
							<p class="list-group-item-text">{{formatDate this.date "long"}}
							</p>
						</a>
						{{else}}
							<div class="list-group-item">No activities found</div>
						{{/each}}
					</div>
				</div>
			</div>
		
			<div class="col-md-7 col-sm-7 cards" id="activityDetails">

				{{>activity}}

			</div>
		</div>

    </div> <!-- /container -->
