{{!< layout}}

<div class="panel panel-default">
	{{#if activity.isNew}}
			<form class="form-horizontal" method="POST" action="/contact/{{activity.parentId}}/activities" data-pjax="#contactDetails">
		{{else}}
			<form class="form-horizontal" method="POST" action="/activities" data-pjax="#activityDetails">
		{{/if}}
	<div class="panel-heading clearfix">
		<h3 class="panel-title pull-left">
			{{#if activity.isNew}}
				New Activity
			{{else}}
				Edit Activity
			{{/if}}
		</h3>
		<div class="pull-right">
			<div class="btn-group">
				<button type="submit" class="btn btn-success">
					<i class="fa fa-check"></i>
					Save
				</button>
			</div>
			<div class="btn-group">
				<a class="btn btn-danger" data-pjax="#activityDetails" href="/activities/{{activity.id}}">
					<i class="fa fa-times"></i>
					Cancel
				</a>
			</div>
		</div>			
	</div>
	<div class="panel-content">
			<input type="hidden" name="_method" value="put">
			<input type="hidden" name="contactId" value="{{activity.parentId}}">
		</form>					
	</div>
	<div class="panel-footer">
		<a class="btn btn-danger btn-block">
			<i class="fa fa-trash-o"></i>
			Delete Activity
		</a>		
	</div>	
</form>
</div>
