{{!< layout}}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			{{#if activity.isNew}}
				New Activity
			{{else}}
				Edit Activity
			{{/if}}
		</h3>
	</div>
	<div class="panel-content">
		{{#if activity.isNew}}
			<form class="form-horizontal" method="POST" action="/contact/{{activity.parentId}}/activities" data-pjax="#contactDetails">
		{{else}}
			<form class="form-horizontal" method="POST" action="/activities" data-pjax="#activityDetails">
		{{/if}}
			<input type="hidden" name="_method" value="put">
			<input type="hidden" name="contactId" value="{{activity.parentId}}">
			{{>activity_form activity}}

			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-3 col-xs-6">
					<button type="submit" class="btn btn-success btn-block">Save</button>
				</div>
				<div class="col-sm-3 col-xs-6">
					<a class="btn btn-danger btn-block" data-pjax="#activityDetails" href="/activities/{{activity.id}}">Cancel</a>
				</div>
			</div>
		</form>					
	</div>
</div>
