{{!< layout}}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">New Note</h3>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" method="POST" action="/contacts/{{activity.parentId}}/notes" data-pjax="#activityDetails">
			<input type="hidden" name="_method" value="put">
			<input type="hidden" name="parentId" value="{{activity.parentId}}">
			{{>activity_form this}}

			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-3 col-xs-6">
					<button type="submit" class="btn btn-success btn-block">Save</button>
				</div>
				<div class="col-sm-3 col-xs-6">
					<a class="btn btn-danger btn-block" data-pjax="#activityDetails" href="/contacts/{{activity.parentId}}/notes">Cancel</a>
				</div>
			</div>
		</form>					
	</div>
	<div class="panel-footer">
		<small>Built with Bootcards - Form Card</small>
	</div>		
</div>