{{#if activity.isNew}}
<form class="form-horizontal" method="POST" action="/contact/{{activity.parentId}}/notes" data-pjax="#contactDetails">
{{else}}
<form class="form-horizontal" method="POST" action="/notes" data-pjax="#activityDetails">
{{/if}}

<div class="modal-header">

	{{>dialog_buttons}}

	<h4 class="modal-title">
		{{#if activity.isNew}}
			Add Note
		{{else}}
			Edit Note
		{{/if}}
	</h4>
</div>
<div class="modal-body">

	<input type="hidden" name="_method" value="put">
	<input type="hidden" name="_method" value="put">
	<input type="hidden" name="contactId" value="{{activity.parentId}}">

	{{>activity_form activity}}	
			
</div>
</form>

{{#unless activity.isNew}}
<div class="panel-footer">
	<button type="submit" class="btn btn-danger btn-block"
		onclick="bootcards.confirm('note', '/notes');">
		<i class="fa fa-trash-o"></i>
		Delete Note
	</button>		
</div>	
{{/unless}}

