{{!< layout}}

<div id="activityCard">
	
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Activity Details</h3>
			<div class="btn-group pull-right">
				<a class="btn btn-default visible-xs" onClick="bootcards.backToList()">
					Back
				</a>
				{{#if parent}}
					{{#if parent.isContact}}
						<a class="btn btn-primary" href="/contacts/{{parent.id}}/activities/{{activity.id}}/edit" data-pjax="#activityCard">
					{{else}}
						<a class="btn btn-primary" href="/activities/{{activity.id}}/edit" data-pjax="#activityCard">
					{{/if}}
				{{else}}
					<a class="btn btn-primary" href="/activities/{{activity.id}}/edit" data-pjax="#activityCard">	
				{{/if}}
				<i class="fa fa-pencil"></i>
				<span>Edit</span>
				</a>
			</div>							
		</div>
		<div class="list-group">
			{{#if activity.subject}}
			<div class="list-group-item">
				<label>Subject</label>
				<h4 class="list-group-item-heading">{{activity.subject}}</h4>
			</div>
			{{/if}}
			{{#if activity.date}}
			<div class="list-group-item">
				<label>Date</label>
				<h4 class="list-group-item-heading">{{activity.date}}</h4>
			</div>
			{{/if}}
			{{#if activity.details}}
			<div class="list-group-item">
				<label>Details</label>
				<h4 class="list-group-item-heading">{{{activity.details}}}</h4>
			</div>
			{{/if}}
		</div>
	</div>

</div>

