{{!< layout}}

<div class="row">

	<div class="bootcards-cards">	
	
		<div class="col-sm-6">
		
			<div class="panel panel-default bootcards-chart">
	
				<div class="panel-heading">
					<h3 class="panel-title">Quarterly Apple iOS device unit sales</h3>					
				</div>
	
				<!--area chart-->
				<div id="areaChart" style="height: 250px;"></div>
	
				<div class="panel-footer">
					<button class="btn btn-default btn-block">
						<i class="fa fa-table"></i>
						Show Data
					</button>				
				</div>
	
				<div class="panel-footer">
					<small class="pull-left">Built with Bootcards - Chart Card</small>
					<a href="#" class="btn btn-link btn-xs pull-right">View Source</a>
				</div>	
	
			</div>
	
			<div class="panel panel-default bootcards-chart">
	
				<div class="panel-heading">
					<h3 class="panel-title">Donut flavours</h3>
				</div>
	
				<!--area chart-->
				<div id="donutChart" style="height: 250px;"></div>
	
				<div class="panel-footer">
					<button class="btn btn-default btn-block">
						<i class="fa fa-table"></i>
						Show Data
					</button>				
				</div>
	
				<div class="panel-footer">
					<small class="pull-left">Built with Bootcards - Chart Card</small>
					<a href="#" class="btn btn-link btn-xs pull-right">View Source</a>
				</div>	
	
			</div>
			
			<div class="panel panel-default bootcards-chart">
	
				<div class="panel-heading">
					<h3 class="panel-title">iPhone CPU benchmarks</h3>					
				</div>
	
				<!--bar chart-->
				<div id="barChart" style="height: 250px;"></div>
	
				<div class="panel-footer">
					<button class="btn btn-default btn-block">
						<i class="fa fa-table"></i>
						Show Data
					</button>				
				</div>
				
				<div class="panel-footer">
					<small class="pull-left">Built with Bootcards - Chart Card</small>
					<a href="#" class="btn btn-link btn-xs pull-right">View Source</a>
				</div>					
	
			</div>					
		
		</div>
		<div class="col-sm-6">
	
			<!-- Table Card -->
			<div class="panel panel-default bootcards-table">
				<div class="panel-heading">
					<h3 class="panel-title">Closed sales by team member - $000s (December)</h3>							
				</div>	
				<table class="table table-hover">
					<thead>				
						<tr class="active"><th>Name</th><th>Sales value</th></tr>
					</thead>
					<tbody>
						<tr><td>Guy Bardsley</td><td>550</td></tr>
						<tr><td>Adam Callahan</td><td>1500</td></tr>
						<tr><td>Arlo Geist</td><td>3750</td></tr>
						<tr><td>Sheila Hutchins</td><td>3500</td></tr>
						<tr><td>Jeanette Quijano</td><td>1250</td></tr>
						<tr><td>Simon Sweet</td><td>5250</td></tr>
						<tr><td><strong>Total</strong></td><td><strong>15800</strong></td></tr>
					</tbody>
				</table>
				<div class="panel-footer">
					<button class="btn btn-default btn-block">
						<i class="fa fa-bar-chart-o"></i>
						Show Chart
					</button>				
				</div>
				<div class="panel-footer">
					<small class="pull-left">Built with Bootcards - Table Card</small>
					<a href="#" class="btn btn-link btn-xs pull-right">View Source</a>
				</div>													
			</div>
	
			<!-- Table Card -->
			<div class="panel panel-default bootcards-table">
				<div class="panel-heading">
					<h3 class="panel-title">Sales by product type - $m</h3>							
				</div>	
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>				
							<tr class="active"><th></th><th>Q1</th><th>Q2</th><th>Q3</th><th>Q4</th><th>Total</th></tr>
						</thead>
						<tbody>
							<tr><td>Stingray</td><td>4.3</td><td>6.5</td><td>10.2</td><td>5.9</td><td>26.9</td></tr>
							<tr><td>Barracuda</td><td>15.1</td><td>25.5</td><td>35.7</td><td>20.3</td><td>96.6</td></tr>
							<tr><td>Mako</td><td>5.9</td><td>13.7</td><td>20.6</td><td>10.5</td><td>50.7</td></tr>
							<tr><td>Sailfish</td><td>2.1</td><td>5</td><td>9.6</td><td>14.4</td><td>31.1</td></tr>
							<tr><td><strong>Total</strong></td><td><strong>27.4</strong></td><td><strong>50.7</strong></td><td><strong>76.1</strong></td><td><strong>51.1</strong></td><td><strong>205.3</strong></td></tr>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<button class="btn btn-default btn-block">
						<i class="fa fa-bar-chart-o"></i>
						Show Chart
					</button>				
				</div>	
				<div class="panel-footer">
					<small class="pull-left">Built with Bootcards - Table Card</small>
					<a href="#" class="btn btn-link btn-xs pull-right">View Source</a>
				</div>												
			</div>	
	
			
			<!-- Table Card -->
			<div class="panel panel-default bootcards-table">
				<div class="panel-heading">
					<h3 class="panel-title">Database size - no of records</h3>							
				</div>	
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>				
							<tr class="active"><th></th><th>Q1</th><th>Q2</th><th>Q3</th><th>Q4</th></tr>
						</thead>
						<tbody>
							<tr><td>Companies</td><td>1256</td><td>1422</td><td>1475</td><td>1528</td></tr>
							<tr><td>Contacts</td><td>3788</td><td>4350</td><td>4495</td><td>4601</td></tr>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<button class="btn btn-default btn-block">
						<i class="fa fa-bar-chart-o"></i>
						Show Chart
					</button>				
				</div>		
				<div class="panel-footer">
					<small class="pull-left">Built with Bootcards - Table Card</small>
					<a href="#" class="btn btn-link btn-xs pull-right">View Source</a>
				</div>											
			</div>
	
	
			<!-- Table Card -->
			<div class="panel panel-default bootcards-table">
				<div class="panel-heading">
					<h3 class="panel-title">Current month forecast vs quota - $000s</h3>							
				</div>	
				<table class="table table-hover">
					<thead>				
						<tr class="active"><th>Name</th><th>Forecast</th><th>Quota</th></tr>
					</thead>
					<tbody>
						<tr><td>Guy Bardsley</td><td>2750</td><td>4000</td></tr>
						<tr><td>Adam Callahan</td><td>3300</td><td>4000</td></tr>
						<tr><td>Arlo Geist</td><td>4500</td><td>4000</td></tr>
						<tr><td>Sheila Hutchins</td><td>4100</td><td>4000</td></tr>
						<tr><td>Jeanette Quijano</td><td>1800</td><td>2000</td></tr>
						<tr><td>Simon Sweet</td><td>6200</td><td>4000</td></tr>
						<tr><td><strong>Total</strong></td><td><strong>22650</strong></td><td><strong>22000</strong></td></tr>
					</tbody>
				</table>
				<div class="panel-footer">
					<button class="btn btn-default btn-block">
						<i class="fa fa-bar-chart-o"></i>
						Show Chart
					</button>				
				</div>		
				<div class="panel-footer">
					<small class="pull-left">Built with Bootcards - Table Card</small>
					<a href="#" class="btn btn-link btn-xs pull-right">View Source</a>
				</div>											
			</div>														
	
		
		</div>
	</div>
</div>


<script src="/jquery/jquery-2.1.0.min.js"></script>
<script type="text/javascript">

/*
 * Clear the target DOM element and draw the sample charts
 * Samples come from the morris.js site at http://www.oesmith.co.uk/morris.js/
 */
var drawCharts = function() {

	$("#areaChart").empty();
	$("#barChart").empty();
	$("#donutChart").empty();

	Morris.Area({
		element: 'areaChart',
		data: [
			{period: '2010 Q1', iphone: 2666, ipad: null, itouch: 2647},
			{period: '2010 Q2', iphone: 2778, ipad: 2294, itouch: 2441},
			{period: '2010 Q3', iphone: 4912, ipad: 1969, itouch: 2501},
			{period: '2010 Q4', iphone: 3767, ipad: 3597, itouch: 5689},
			{period: '2011 Q1', iphone: 6810, ipad: 1914, itouch: 2293},
			{period: '2011 Q2', iphone: 5670, ipad: 4293, itouch: 1881},
			{period: '2011 Q3', iphone: 4820, ipad: 3795, itouch: 1588},
			{period: '2011 Q4', iphone: 15073, ipad: 5967, itouch: 5175},
			{period: '2012 Q1', iphone: 10687, ipad: 4460, itouch: 2028},
			{period: '2012 Q2', iphone: 8432, ipad: 5713, itouch: 1791}
		],
		xkey: 'period',
		ykeys: ['iphone', 'ipad', 'itouch'],
		labels: ['iPhone', 'iPad', 'iPod Touch'],
		pointSize: 2,
		hideHover: 'auto'
	});

	Morris.Bar({
		element: 'barChart',
		data: [
			{device: 'iPhone', geekbench: 136},
			{device: 'iPhone 3G', geekbench: 137},
			{device: 'iPhone 3GS', geekbench: 275},
			{device: 'iPhone 4', geekbench: 380},
			{device: 'iPhone 4S', geekbench: 655},
			{device: 'iPhone 5', geekbench: 1571}
		],
		xkey: 'device',
		ykeys: ['geekbench'],
		labels: ['Geekbench'],
		barRatio: 0.4,
		xLabelAngle: 35,
		hideHover: 'auto'
	});

	Morris.Donut({
	    element: 'donutChart',
	    data: [
	      {label: 'Jam', value: 25 },
	      {label: 'Frosted', value: 40 },
	      {label: 'Custard', value: 25 },
	      {label: 'Sugar', value: 10 }
	    ],
	    formatter: function (y) { return y + "%" }
	  });

}

//draw the charts when the DOM is ready
$(document).ready( function() {
	drawCharts();
});

//on resize of the page: redraw the charts
$(window)
	.on('resize', function() {
		drawCharts();
	});

</script>