{{!< layout}}

<div id="companyCard">
	
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Company Details</h3>
			<div class="btn-group pull-right visible-xs">
				<a class="btn btn-default" onClick="bootcards.backToList()">
					Back
				</a>
				<a class="btn btn-primary" href="/companies/{{company.id}}/edit" data-pjax="#companyCard">
					<i class="fa fa-pencil"></i>
					<span>Edit</span>
				</a>
			</div>
			<a class="btn btn-primary pull-right hidden-xs" href="/companies/{{company.id}}/edit" data-pjax="#companyCard">
				<i class="fa fa-pencil"></i>
				<span>Edit</span>
			</a>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<i class="fa fa-3x fa-building-o pull-left"></i>
				<label>Name</label>
				<h4 class="list-group-item-heading">{{company.name}}</h4>
			</div>
			
			<a class="list-group-item" href="#">
				<label>Website</label>
				<h4 class="list-group-item-heading">www.companywebsitehere.com</h4>
			</a>
			
			{{#if company.phone}}
			<a class="list-group-item" href="tel://{{company.phone}}">
				<label>Phone</label>
				<h4 class="list-group-item-heading">{{company.phone}}</h4>
			</a>
			{{/if}}
			{{#if company.email}}
			<a class="list-group-item" href="mailto:{{company.email}}">
				<label>Email</label>
				<h4 class="list-group-item-heading">{{company.email}}</h4>
			</a>
			{{/if}}
			{{#if company.city}}
			<div class="list-group-item">
				<label>City</label>
				<h4 class="list-group-item-heading">{{company.city}}</h4>
			</div>
			{{/if}}
			{{#if company.country}}
			<div class="list-group-item">
				<label>Country</label>
				<h4 class="list-group-item-heading">{{company.country}}</h4>
			</div>
			{{/if}}
		</div>
		<div class="panel-footer">
			<small>Built with Bootcards - Base Card</small>
		</div>		
	</div>

</div>

<!--list of contacts-->
{{>contacts_for_parent this}}

<!--list of activities-->
{{>activities_for_company this}}
