{{!< layout}}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">ll
			{{#if company.isNew}}
				New Company
			{{else}}
				Edit Company
			{{/if}}
		</h3>
	</div>
	<div class="panel-content">
		<form class="form-horizontal" method="POST" action="/companies/{{company.id}}" data-pjax="#main">
			<input type="hidden" name="_method" value="put">
			<div class="form-group">
				<label class="col-xs-3 control-label">Name</label>
				<div class="col-xs-9">
					<input type="text" name="name" class="form-control" placeholder="Company name"
					value="{{company.name}}">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-xs-3 control-label">Phone</label>
				<div class="col-xs-9">
					<input type="phone" name="phone" class="form-control" 
					placeholder="Phone"
					value="{{company.phone}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label">Email</label>
				<div class="col-xs-9">
					<input type="email" name="email" class="form-control" placeholder="Email"
					value="{{company.email}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label">City</label>
				<div class="col-xs-9">
					<input type="text" name="city" class="form-control" placeholder="City"
						value="{{company.city}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label">Country</label>
				<div class="col-xs-9">
					<input type="text" name="country" class="form-control" placeholder="Country"
						value="{{company.country}}">
				</div>
			</div>


			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-3 col-xs-6">
					<button type="submit" class="btn btn-success btn-block">Save</button>
				</div>
				<div class="col-sm-3 col-xs-6">
					<a class="btn btn-danger" data-pjax="#companyDetails" href="/companies/{{company.id}}">Cancel</a>
				</div>
			</div>
		</form>					
	</div>
</div>
