{{!< layout}}
  
    <div class="container">

		<div class="row">

			<div class="col-md-5 col-sm-5 menu">
				<div class="list-group">
					{{#each menu}}
						<a class="list-group-item" href="#">
						  	<i class="fa {{this.icon}}"></i>
						  	{{this.name}}
						 </a>	        
					{{/each}}
				</div>
			</div>
			
			<div class="col-md-5 col-sm-5 list">
				<div class="panel panel-default">
					<div class="list-group">
	
						{{#each companies}}
						<a class="list-group-item" 
					 			href="/companies/{{this.id}}"
					 			data-pjax="#companyDetails">
							<i class="fa fa-2x fa-building-o pull-left"></i>
							<h4 class="list-group-item-heading">{{this.name}}</h4>
							<p class="list-group-item-text">{{this.city}}, {{this.country}}</p>
						</a>
						{{/each}}
					</div>
				</div>
			</div>
		
			<div class="col-md-7 col-sm-7 cards" id="companyDetails">

				<!--contact details & activities-->
				{{> company}}
				
			</div>
		</div>

    </div> <!-- /container -->
