{{!< layout}}
  
		<div class="row">
			
			<div class="col-md-5 col-sm-5 list">		
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left">Companies</h3>
						<div class="btn-group pull-right">
							<a class="btn btn-primary">
								<i class="fa fa-plus"></i>
								<span>Add</span>
							</a>
						</div>							
					</div>					
					<div class="panel-body">
						<form>
						    <div class="form-group">
						      <input type="text" class="form-control" placeholder="Search Companies...">
						      <i class="fa fa-search"></i>
						    </div>
						</form>					
					</div>
					<div class="list-group">
						{{#each companies}}
						<a class="list-group-item" 
					 			href="/companies/{{this.id}}"
					 			data-pjax="#companyDetails">
							<i class="fa fa-2x fa-building-o pull-left"></i>
							<h4 class="list-group-item-heading">{{this.name}}</h4>
							<p class="list-group-item-text">{{this.city}}, {{this.country}}</p>
						</a>
						{{/each}}
					</div>
					<div class="panel-footer">
						<small>Built with Bootcards - ListDetailed</small>
					</div>					
				</div>
			</div>
		
			<div class="col-md-7 col-sm-7 cards" id="companyDetails">

				<!--contact details & activities-->
				{{> company}}
				
			</div>
		</div>

