{{!< layout}}
  
    <div class="container">

		<div class="row">

			<div class="col-md-5 col-sm-5 menu">
				<div class="panel panel-default">
					<div class="list-group">
						{{#each menu}}
							<a class="list-group-item" href="#">
							  	<i class="fa {{this.icon}}"></i>
							  	{{this.name}}
							 </a>	        
						{{/each}}
					</div>
				</div>
			</div>
			
			<div class="col-md-5 col-sm-5 list">
				<div class="list-group">

					{{#each companies}}
					<a class="list-group-item" href="#">
						<i class="fa fa-2x fa-building-o pull-left"></i>
						<h4 class="list-group-item-heading">{{this.name}}</h4>
						<p class="list-group-item-text">{{this.city}}, {{this.country}}</p>
					</a>
					{{/each}}
				</div>
			</div>
		
			<div class="col-md-7 col-sm-7 cards">

				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left">Company Details</h3>
						<div class="btn-group pull-right">
						  <button type="button" class="btn btn-primary">
						  	<i class="fa fa-pencil"></i>
						  	<span>Edit</span>
						  </button>
						</div>							
					</div>
					<div class="list-group">
						<div class="list-group-item">
							<i class="fa fa-2x fa-building-o pull-left"></i>
							<label>Name</label>
							<h4 class="list-group-item-heading">Camion Corp</h4>
						</div>
						<a class="list-group-item" href="tel://1-650-555-0055">
							<label>Phone</label>
							<h4 class="list-group-item-heading">1-650-555-0055</h4>
						</a>
						<a class="list-group-item" href="mailto:Sofia.Acey@masung.com">
							<label>Email</label>
							<h4 class="list-group-item-heading">info@camioncorp.co.jp</h4>
						</a>
						<a class="list-group-item" href="http://www.camioncorp.co.jp">
							<label>Homepage</label>
							<h4 class="list-group-item-heading">www.camioncorp.co.jp</h4>
						</a>
						<div class="list-group-item">
							<label>Address</label>
							<h4 class="list-group-item-heading">14a Sunrise Building, <br>12-34-1 Marunouchi, <br>Tokyo, <br>Japan <br>100-345</h4>
						</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left">Contacts</h3>
						<div class="btn-group pull-right">
						  <button type="button" class="btn btn-primary">
						  	<i class="fa fa-plus"></i>
						  	<span>Add</span>
						  </button>
						</div>							
					</div>
					<div class="list-group">						
						<a class="list-group-item" href="#">
							<img src="images/jack-88.jpg" class="img-rounded pull-left"/>
							<h4 class="list-group-item-heading">Chenoweth, Adam</h4>
							<p class="list-group-item-text">adam.chenoweth@camioncorp.co.jp</p>
						</a>
						<a class="list-group-item" href="#">
							<img src="images/jack-88.jpg" class="img-rounded pull-left"/>
							<h4 class="list-group-item-heading">Chenoweth, Adam</h4>
							<p class="list-group-item-text">adam.chenoweth@camioncorp.co.jp</p>
						</a>
						<a class="list-group-item" href="#">
							<img src="images/jack-88.jpg" class="img-rounded pull-left"/>
							<h4 class="list-group-item-heading">Chenoweth, Adam</h4>
							<p class="list-group-item-text">adam.chenoweth@camioncorp.co.jp</p>
						</a>
						<a class="list-group-item" href="#">
							<img src="images/jack-88.jpg" class="img-rounded pull-left"/>
							<h4 class="list-group-item-heading">Chenoweth, Adam</h4>
							<p class="list-group-item-text">adam.chenoweth@camioncorp.co.jp</p>
						</a>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left">Activities</h3>
						<div class="btn-group pull-right">
						  <button type="button" class="btn btn-primary">
						  	<i class="fa fa-plus"></i>
						  	<span>Add</span>
						  </button>
						</div>							
					</div>	
					<div class="list-group">
						<a class="list-group-item" href="#">
							<h4 class="list-group-item-heading">Contract Upgrade</h4>
							<p class="list-group-item-text">Mon Dec 02 2013 22:26:12 GMT+0000 (BST)</p>
						</a>
						<a class="list-group-item" href="#">
							<h4 class="list-group-item-heading">Latest Offer</h4>
							<p class="list-group-item-text">Mon Dec 02 2013 22:26:12 GMT+0000 (BST)</p>
						</a>
						<a class="list-group-item" href="#">
							<h4 class="list-group-item-heading">Contract Upgrade</h4>
							<p class="list-group-item-text">Mon Dec 02 2013 22:26:12 GMT+0000 (BST)</p>
						</a>
						<a class="list-group-item" href="#">
							<h4 class="list-group-item-heading">Latest Offer</h4>
							<p class="list-group-item-text">Mon Dec 02 2013 22:26:12 GMT+0000 (BST)</p>
						</a>
					</div>
				</div>
			</div>
		</div>

    </div> <!-- /container -->
