{{!< layout}}

<div class="container">

	<div class="row">
		
		<div class="col-sm-7 col-sm-offset-5 cards">


			<!-- Table Card -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Unplugged vs Unplugged Plus</h3>							
				</div>	
				<div class="panel-body">
					See below for a full comparison and select the tool that best meets your needs. Contact us for pricing or for a free consultation.
				</div>
			
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Feature</th>
							<th>Standard</th>
							<th>Plus</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Offline sync capability</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Large file sync</td>
							<td>Less than 20Mb</td>
							<td>Any size</td>
						</tr>
						<tr>
							<th colspan="3">Operating Systems</th>
						</tr>
						<tr>
							<td>iOS</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Android</td>
							<td><i class="fa fa-check"></i></td>
							<td>End 2014</td>
						</tr>
						<tr>
							<td>BlackBerry OS 6 and 7</td>
							<td>1.3 only</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>Windows</td>
							<td>End 2014</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<th colspan="3">Applications</th>
						</tr>
						<tr>
							<td>OneView Approvals</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>CustomerView</td>
							<td>&nbsp;</td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Notes Templates</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Continuity</td>
							<td>&nbsp;</td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Customizable &amp; restyleable</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>On premise</td>
							<td><i class="fa fa-check"></i></td>
							<td><i class="fa fa-check"></i></td>
						</tr>
						<tr>
							<td>Admin server modules</td>
							<td>New Web UI</td>
							<td>New Web UI</td>
						</tr>
						<tr>
							<td>Enhanced security features (e.g. Good Technology secure attachments)</td>
							<td>&nbsp;</td>
							<td><i class="fa fa-check"></i></td>
						</tr>
					</tbody>
				</table>
				
				<div class="panel-footer">
					<button class="btn btn-success btn-block">
						<i class="fa fa-check"></i>
						Request a Quote
					</button>
				</div>
			</div>
			
			
			<!-- Media Card -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Media Card Heading</h3>							
				</div>	
				<div class="panel-body">
					Media card description lorem ipsum dolor est compendium
				</div>
				<img src="http://www.teamstudio.com/Portals/218295/images/istock_000001242290small.jpg" class="img-responsive"/>	
				<div class="panel-footer clearfix">
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button class="btn btn-default">
								<i class="fa fa-mail-reply"></i>
								Reply  
							</button>
						</div>
						<div class="btn-group">
						<button class="btn btn-default">
							<i class="fa fa-retweet"></i>
							Retweet  
						</button>
						</div>
						<div class="btn-group">
						<button class="btn btn-default">
							<i class="fa fa-star"></i>
							Favorite 
						</button>
						</div>
						<div class="btn-group">
							<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-ellipsis-h"></i>
								More 				
							</button>
						    <ul class="dropdown-menu pull-right" role="menu">
						      <li>
						      	<a href="#">
						      		<i class="fa fa-envelope"></i>
						      		Share via Email
						      	</a>
						      </li>
						      <li>
						      	<a href="#">
						      		<i class="fa fa-code"></i>
						      		Embed Tweet
						      	</a>
						      </li>
						      <li>
						      	<a href="#">
						      		<i class="fa fa-flag"></i>
						      		Report Tweet
						      	</a>
						      </li>
						    </ul>	
						</div>															
					</div>
				</div>
			</div>
			
			
			<!-- Rich Text Card -->
			<div class="panel panel-default panel-rich-text">
				<div class="panel-heading">
					<h3 class="panel-title">Rich Text Card Heading</h3>							
				</div>	
				<div class="panel-body">
			
			  <!-- Headings -->
			  <h2 id="type-headings">Headings</h2>
			  <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.</p>
			  <div class="bs-example bs-example-type">
			    <table class="table">
			      <tbody>
			        <tr>
			          <td><h1>h1. Bootstrap heading</h1></td>
			          <td class="type-info">Semibold 36px</td>
			        </tr>
			        <tr>
			          <td><h2>h2. Bootstrap heading</h2></td>
			          <td class="type-info">Semibold 30px</td>
			        </tr>
			        <tr>
			          <td><h3>h3. Bootstrap heading</h3></td>
			          <td class="type-info">Semibold 24px</td>
			        </tr>
			        <tr>
			          <td><h4>h4. Bootstrap heading</h4></td>
			          <td class="type-info">Semibold 18px</td>
			        </tr>
			        <tr>
			          <td><h5>h5. Bootstrap heading</h5></td>
			          <td class="type-info">Semibold 14px</td>
			        </tr>
			        <tr>
			          <td><h6>h6. Bootstrap heading</h6></td>
			          <td class="type-info">Semibold 12px</td>
			        </tr>
			      </tbody>
			    </table>
			  </div>
<div class="highlight"><pre><code class="html"><span class="nt">&lt;h1&gt;</span>h1. Bootstrap heading<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;h2&gt;</span>h2. Bootstrap heading<span class="nt">&lt;/h2&gt;</span>
<span class="nt">&lt;h3&gt;</span>h3. Bootstrap heading<span class="nt">&lt;/h3&gt;</span>
<span class="nt">&lt;h4&gt;</span>h4. Bootstrap heading<span class="nt">&lt;/h4&gt;</span>
<span class="nt">&lt;h5&gt;</span>h5. Bootstrap heading<span class="nt">&lt;/h5&gt;</span>
<span class="nt">&lt;h6&gt;</span>h6. Bootstrap heading<span class="nt">&lt;/h6&gt;</span>
</code></pre></div>
				
				  <p>Create lighter, secondary text in any heading with a generic <code>&lt;small&gt;</code> tag or the <code>.small</code> class.</p>
				  <div class="bs-example bs-example-type">
				    <table class="table">
				      <tbody>
				        <tr>
				          <td><h1>h1. Bootstrap heading <small>Secondary text</small></h1></td>
				        </tr>
				        <tr>
				          <td><h2>h2. Bootstrap heading <small>Secondary text</small></h2></td>
				        </tr>
				        <tr>
				          <td><h3>h3. Bootstrap heading <small>Secondary text</small></h3></td>
				        </tr>
				        <tr>
				          <td><h4>h4. Bootstrap heading <small>Secondary text</small></h4></td>
				        </tr>
				        <tr>
				          <td><h5>h5. Bootstrap heading <small>Secondary text</small></h5></td>
				        </tr>
				        <tr>
				          <td><h6>h6. Bootstrap heading <small>Secondary text</small></h6></td>
				        </tr>
				      </tbody>
				    </table>
				  </div>
<div class="highlight"><pre><code class="html"><span class="nt">&lt;h1&gt;</span>h1. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h1&gt;</span>
<span class="nt">&lt;h2&gt;</span>h2. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h2&gt;</span>
<span class="nt">&lt;h3&gt;</span>h3. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h3&gt;</span>
<span class="nt">&lt;h4&gt;</span>h4. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h4&gt;</span>
<span class="nt">&lt;h5&gt;</span>h5. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h5&gt;</span>
<span class="nt">&lt;h6&gt;</span>h6. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h6&gt;</span>
</code></pre></div>
				
				
				  <!-- Body copy -->
				  <h2 id="type-body-copy">Body copy</h2>
				  <p>Bootstrap's global default <code>font-size</code> is <strong>14px</strong>, with a <code>line-height</code> of <strong>1.428</strong>. This is applied to the <code>&lt;body&gt;</code> and all paragraphs. In addition, <code>&lt;p&gt;</code> (paragraphs) receive a bottom margin of half their computed line-height (10px by default).</p>
				  <div class="bs-example">
				    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
				    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
				    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
				  </div>
<div class="highlight"><pre><code class="html"><span class="nt">&lt;p&gt;</span>...<span class="nt">&lt;/p&gt;</span>
</code></pre></div>
				
				  <!-- Body copy .lead -->
				  <h3>Lead body copy</h3>
				  <p>Make a paragraph stand out by adding <code>.lead</code>.</p>
				  <div class="bs-example">
				    <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
				  </div>
<div class="highlight"><pre><code class="html"><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">&quot;lead&quot;</span><span class="nt">&gt;</span>...<span class="nt">&lt;/p&gt;</span>
</code></pre></div>
			
				</div>
			</div>
		
		</div>

	</div>
</div>
