@import "bootcards-mobile-shared.css";

body {
	background-color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

a {
	color: #007aff;
}


/* NAVBAR */

.navbar-fixed-top {

}

.navbar-default {
	background: white;
	box-shadow: none;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	border: 0;	
}

.navbar-header {
	float: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
	text-align: center;
	width: auto;
	float: none;
	display: block;
	font-weight: bold;
	color: black;
}

.btn-back,
.btn-back:hover,
.btn-menu,
.btn-menu:hover {
	position: absolute;
	left: 0px;
	top: 8px;
	background: none;
	border: 0;
	box-shadow: none;
	font-size: 15px;
	color: #007aff;
}



/* GRID */

.row > div {
	border-color: rgba(0,0,0,0.2);
}

@media (max-width:767px) {
	.row > div { border-left: 0; }
}

@media (min-width:768px) and (max-width:992px) {
	.row > div:nth-child(2) { border-left: 0; }
}



/* MENU */

a.list-group-item {
	font-size: 17px;
	font-weight: normal;
	color: black;
	line-height: 24px;
	padding-right: 25px;
}

a.list-group-item.active, 
a.list-group-item.active:hover, 
a.list-group-item.active:focus {
	background: #e5e5e5;
	border-color: #DDD;	
	text-shadow: none;
	color: black;
	margin-left: -20px;
	padding-left: 20px;
}

a.list-group-item:hover {
	background: white;
}



/* PANELS */

.panel {
	box-shadow: none;
	border-radius: 0;
	border: 0;
	margin-left: 15px;
}

@media (min-width:768px) {
	.panel {
		margin-left: 25px;
	}
}

.panel-default > .panel-heading {
	background: transparent;
}

.panel-title {
	font-size: 15px;
	line-height: 29px;
	text-transform: uppercase;
	color: #999;
	font-weight: normal;
	margin: 0;
}

.panel-heading {
	padding-left: 0;
}

.panel-heading .btn-group .btn {
	background: transparent;
	border: 0;
	box-shadow: none;
	padding: 0;
	color: #007aff;
	height: 29px;
	font-size: 15px;
	text-shadow: none;
}

.panel-heading .btn-group .btn i {
	display: none;
}



/* LISTS */

.list-group-item {
	padding-left: 0;
}

.list-group-item:first-child {
	border-top: 0;
}

.list-group {
	box-shadow: none;
}

.list-group-item {
	border-left: 0;
	border-right: 0;
	line-height: 24px;
}

.list-group-item label {
	color: #007aff;
	display: block;
	font-size: 14px;
	line-height: 14px;
	font-weight: normal;	
}

.list-group-item .list-group-item-heading {
	font-size: 17px;
	font-weight: normal;
	display: block;
	color: black;
	margin: 0;
} 

.list-group-item .list-group-item-text,
a.list-group-item.active .list-group-item-text, 
a.list-group-item.active:hover .list-group-item-text, 
a.list-group-item.active:focus .list-group-item-text {
	color: #999;
} 



/* FORMS */

.form-horizontal .form-group {
	margin: 0;
	margin-left: 15px;
	padding-right: 15px;
	border-bottom: 1px solid #ddd;
	padding-top: 5px;
	padding-bottom: 5px;
}

.form-horizontal .control-label {
	color: #007aff;
	font-weight: normal;
	font-size: 13px;
	margin-top: 3px;
}

.form-group input {
	border: 0;
	box-shadow: none;
}




/* FOOTER */

.navbar-fixed-bottom {
	box-shadow: 0 -1px rgba(0,0,0,0.2);
	height: 49px;
	text-align: center;
	border: 0;
}

.navbar-fixed-bottom .btn-group .btn {
	font-size: 11px;
	padding-top: 7px;
	color: #929292;
}

.navbar-fixed-bottom .btn-group .btn i {
	display: block;
	margin-bottom: 2px;
}

.navbar-fixed-bottom .btn-group .btn.active,
.navbar-fixed-bottom .btn-group .btn:hover {
	color: #007aff;
}