@import "bootcards-mobile-shared.css";

body {
	background-color: #eee;
	font-family:"Roboto",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family:"Roboto",sans-serif;
}

a {
	color: #007aff;
}


/* NAVBAR */

@media (min-width:767px) {
	.navbar .container {
		padding: 0;
	}
}

.navbar-fixed-top {
	background: #f5f5f5;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.05), rgba(0,0,0,0.05));
	box-shadow: 0 0 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
	font-weight: bold;
	color: #555;
	padding-left: 10px;
	display: inline-block;
	float: none;
	font-weight: bold;
}

.navbar > .container .navbar-brand {
	margin-left: 0;
}

.btn-back,
.btn-back:hover,
.btn-menu,
.btn-menu:hover {
	background: none;
	border: 0;
	box-shadow: none;
	font-size: 15px;
	color: #999;
	margin: 0;
	margin-top: -4px;
	border-right: 1px solid #ccc;
	border-radius: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.btn-back span {
	display: none;
}

.btn-menu span {
	display: none;
}



/* GRID */

.row > div {
	padding-top: 0;
	border-left: 1px solid rgba(0,0,0,0.3);
}



/* MENU */

a.list-group-item {
	font-size: 18px;
	font-weight: 200;
	color: #505050;
	line-height: 24px;
	padding-right: 25px;
}

a.list-group-item.active {
	background: #e5e5e5;
	border-color: #DDD;	
	text-shadow: none;
	color: #505050;
}

a.list-group-item:hover {
	background: white;
}



/* PANELS */

.panel {
	margin: 15px;
	margin-bottom: 0;
	border-radius: 0;
}

.list-group-heading h3 {
	font-size: 15px;
	line-height: 29px;
	text-transform: uppercase;
	color: #33b5e5;
	font-weight: bold;
	margin: 0;
	float: left;
}

.list-group-heading .btn-group .btn {
	background: transparent;
	border: 0;
	box-shadow: none;
	padding: 0;
	color: #999;
}

.list-group-heading .btn-group .btn span {
	display: none;
}



/* LISTS */

.cards .list-group {
	margin: 15px;
	margin-bottom: 0;
}

.list-group {
	box-shadow: none;
	border: 0;
}

.list-group-item {
	border-left: 0;
	border-right: 0;
	line-height: 24px;
}

.list-group-item:first-child {
	border-top: 0;
}

.list-group-item:last-child {
	border-bottom: 0;
}

.list-group-item label {
	color: #007aff;
	display: block;
	line-height: 1;
	font-weight: normal;
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;	
}

.list-group-item .list-group-item-heading {
	font-size: 18px;
	font-weight: 200;
	display: block;
	color: #333;
	margin: 0;
} 

.list-group-item .list-group-item-text,
a.list-group-item.active .list-group-item-text, 
a.list-group-item.active:hover .list-group-item-text, 
a.list-group-item.active:focus .list-group-item-text {
	color: #777;
} 



/* FORMS */

.panel-content form {
	padding: 15px;
}

.form-horizontal .form-group {
	margin: 0;
	margin-bottom: 10px;
}

.form-horizontal .control-label {
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 2px;
	text-align: right;
	padding-right: 12px;	
}

.form-control {
	border: 0;
	box-shadow: none;
	border-radius: 0;
	border-bottom: 1px solid #ccc;
	margin: 0;
}



/* FOOTER */

.navbar-fixed-bottom {
	box-shadow: 0 -1px rgba(0,0,0,0.1);
	height: 49px;
	text-align: center;
	border: 0;
	background: #e5e5e5;
}

.navbar-fixed-bottom .container {
	padding: 0;
	margin: 0;
}

.navbar-fixed-bottom .btn-group {
	list-style: none;
}

.navbar-fixed-bottom .btn-group .btn {
	width: 100px;
	padding: 0;
	border: 0;
	background: transparent;
	box-shadow: none;
	display: inline-block;
	text-align: center;
	font-size: 13px;
	padding-top: 7px;
	font-weight: bold;
	text-transform: uppercase;
	border-top: 5px solid transparent;
	border-radius: 0;
	height: 42px;
	text-shadow: none;
}

.navbar-fixed-bottom .btn-group .btn i {
	display: none;
}

.navbar-fixed-bottom .btn-group .btn.active,
.navbar-fixed-bottom .btn-group .btn:hover {
	border-top-color: rgb(51, 181, 229);
}