@import "bootcards-mobile-shared.css";

body {
	background-color: #eee;
	font-family:"Roboto",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family:"Roboto",sans-serif;
}

a {
	color: #007aff;
}



/* BUTTONS */

.btn,
.btn:hover,
.btn:active {
	background: transparent;
	border-color: transparent;
	box-shadow: none;
	color: #999;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active {
	color: #d43f3a;
}

.btn-success,
.btn-success:hover,
.btn-success:active {
	color: #4cae4c;
}



/* NAVBAR */

@media (min-width:767px) {
	.navbar .container {
		padding: 0;
	}
}

.navbar-fixed-top {

}

.navbar-default {
	background: #f5f5f5;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.05), rgba(0,0,0,0.05));
	box-shadow: 0 0 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.navbar-header {
	float: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
	font-weight: bold;
	color: #555;
	padding-left: 10px;
	display: inline-block;
	float: left;
	font-weight: bold;
}

.navbar > .container .navbar-brand {
	margin-left: 0;
}

.navbar-fixed-top .btn,
.navbar-fixed-top .btn:hover {
	background: none;
	border: 0;
	box-shadow: none;
	font-size: 15px;
	color: #999;
	border-radius: 0;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 8px;
}

.navbar-fixed-top .btn.pull-left {
	border-right: 1px solid #ccc;	
}

.navbar-fixed-top .btn.pull-right {
	border-left: 1px solid #ccc;
}

.navbar-fixed-top .btn span {
	display: none;
}



/* GRID */

.row > div {
	padding-top: 0;
	border-color: rgba(0,0,0,0.3);
}



/* MENU */





/* PANELS */

.panel {
	margin: 15px;
	margin-bottom: 0;
	border-radius: 0;
}

.panel-default > .panel-heading {
	background: transparent;
}

.panel-heading .panel-title {
	font-size: 15px;
	line-height: 36px;
	text-transform: uppercase;
	color: #33b5e5;
	font-weight: bold;
	margin: 0;
}



/* LISTS */

.list .panel {
	margin: 0;
	border: 0;
}

.list-group {
	box-shadow: none;
	border: 0;
}

.list-group-item {
	border-left: 0;
	border-right: 0;
	line-height: 24px;
}

.list-group-item:first-child {
	border-top: 0;
}

.list-group-item:last-child {
	border-bottom: 0;
}

.list-group-item label {
	color: #007aff;
	display: block;
	line-height: 1;
	font-weight: normal;
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;	
}

.list-group-item .list-group-item-heading {
	font-size: 18px;
	font-weight: 200;
	display: block;
	color: #333;
	margin: 0;
} 

a.list-group-item {
	font-size: 18px;
	font-weight: 200;
	color: #505050;
	line-height: 24px;
	padding-right: 25px;
}

/*a.list-group-item.active {
	background: #e5e5e5;
	border-color: #DDD;	
	text-shadow: none;
	color: #505050;
}*/

a.list-group-item:hover {
	background: white;
}

.list-group-item .list-group-item-text {
	font-size: 14px;
	margin: 0;
	margin-top: 5px;
	font-weight: normal;	
} 



/* FORMS */

.panel-content form {
	padding: 15px;
}

.form-horizontal .form-group {
	margin: 0;
	margin-bottom: 10px;
}

.form-horizontal .control-label {
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 2px;
	text-align: right;
	padding-right: 12px;	
}

.form-group input[type=text],
.form-group input[type=datetime],
.form-group input[type=email],
.form-group input[type=phone],
.form-group textarea,
.form-group select {
	border-radius: 0;
	border-bottom: 1px solid #ccc;
	margin: 0;
}



/* FOOTER */

.navbar-fixed-bottom {
	box-shadow: 0 -1px rgba(0,0,0,0.1);
	height: 49px;
	text-align: center;
	border: 0;
	background: #e5e5e5;
}

.navbar-fixed-bottom .btn-group .btn {
	font-size: 13px;
	padding-top: 7px;
	font-weight: bold;
	text-transform: uppercase;
	border-top: 5px solid transparent;
	border-radius: 0;
	height: 42px;
	text-shadow: none;
}

.navbar-fixed-bottom .btn-group .btn i {
	display: none;
}

.navbar-fixed-bottom .btn-group .btn.active {
	border-top-color: rgb(51, 181, 229);
}