html, 
body {
	height: 100%;
}

body {
	padding-top: 50px;
}

/* NAVBAR */

.navbar-header {
	display: block;
}

.navbar-nav {
	display: none;
}

.navbar-toggle {
	display: none;
}



/* GRID */

.container {
	width: auto;
	height: 100%;
}

/*
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding: 0;
}*/

.container > .row {
	height: 100%;
	padding-bottom: 50px;
}

.no-footer .row {
	padding-bottom: 0;
}

.container > .row > div {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	padding-top: 0;
}

.container > .row > div:last-child {
	border-left: 1px solid rgba(0,0,0,0.3);
}

@media (max-width:767px) {
	.row > div:last-child {
		border-left: 0;
	}
}




/* MENU */

.navmenu {
	display: none;
	padding: 0;
}

.navmenu li {
	font-size: 15px;
	line-height: 30px;
}

.navmenu i {
	width: 24px;
	margin-right: 5px;
	text-align: center;
}


/* LISTS */

.list {
	padding: 0;
}

.list-group-item:first-child,
.list-group-item:last-child {
	border-radius: 0;
}

a.list-group-item:before {
	font-family: 'FontAwesome';
	content: 'ï”';
	position: absolute;
	right: 15px;
	top: 50%;
	font-size: 14px;
	line-height: 14px;
	margin-top: -7px;
	color: #ccc;
}

/* List - Search Form */

.list .panel-body {
	padding: 0;
}

.list form {
	background: #BBB;
	padding: 8px;
}

.list form .row > div:first-child {
	padding-right: 4px;
}

.list form .row > div:last-child {
	padding-left: 4px;
}



/* FORMS */

.form-group input[type=text],
.form-group input[type=datetime],
.form-group input[type=email],
.form-group input[type=phone],
.form-group textarea,
.form-group select {
	border: 0;
	box-shadow: none;
	-webkit-appearance:none;
}




/* CARDS */

.cards {
	padding: 0;
}

.panel-footer {
	background: 0;
}




/* FOOTER */

.no-footer .navbar-fixed-bottom {
	display: none;
}

.navbar-fixed-bottom .container {
	padding: 0;
	margin: 0;
}

.navbar-fixed-bottom .btn-group {
	list-style: none;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}

.navbar-fixed-bottom .btn-group .btn {
	width: 25%;
	padding: 0;
	border: 0;
	background: transparent;
	box-shadow: none;
	display: inline-block;
	text-align: center;
	font-size: 11px;
	padding-top: 7px;
	color: #929292;
}