@import "../../ratchet-2.0.0/dist/ratchet.css";

html, 
body {
	height: 100%;
}

body {
	padding-top: 50px;
}

small {
	font-size: 70%;
}





/* NAVBAR */

.navbar-header {
	display: block;
}

.navbar-nav {
	display: none;
}

.navbar-toggle {
	display: none;
}




/* GRID */

.container {
	width: auto;
	height: 100%;
}

.container > .row {
	height: 100%;
	padding-bottom: 50px;
}

.no-footer .row {
	padding-bottom: 0;
}

.container > .row > div {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	padding-top: 0;
}

.container > .row > div.cards {
	padding-bottom: 16px;
}

.container > .row > div:last-child {
	border-left: 1px solid rgba(0,0,0,0.3);
}

@media (max-width:767px) {
	.row > div:last-child {
		border-left: 0;
	}
}




/* MENU */

.navmenu {
	display: none;
	padding: 0;
}

.navmenu li {
	font-size: 15px;
	line-height: 30px;
}

.navmenu i {
	width: 24px;
	margin-right: 5px;
	text-align: center;
}


/* LISTS */

.list {
	padding: 0;
}

.list-group-item:first-child,
.list-group-item:last-child {
	border-radius: 0;
}

a.list-group-item:before {
	font-family: 'FontAwesome';
	content: 'ï”';
	position: absolute;
	right: 15px;
	top: 50%;
	font-size: 14px;
	line-height: 14px;
	margin-top: -7px;
	color: #ccc;
}

/* List - Search Form */

.list .panel-body {
	padding: 0;
}

.list form {
	background: #BBB;
	padding: 8px;
}

.list form .row > div:first-child {
	padding-right: 4px;
}

.list form .row > div:last-child {
	padding-left: 4px;
}




/* CARDS */

.cards {
	padding: 0;
}

.panel-footer {
	background: 0;
}




/* FOOTER */

.no-footer .navbar-fixed-bottom {
	display: none;
}

.navbar-fixed-bottom .container {
	padding: 0;
	margin: 0;
}

.navbar-fixed-bottom .btn-group {
	list-style: none;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}

.navbar-fixed-bottom .btn-group .btn {
	width: 25%;
	padding: 0;
	border: 0;
	background: transparent;
	box-shadow: none;
	display: inline-block;
	text-align: center;
	font-size: 11px;
	padding-top: 7px;
	color: #929292;
}