body {
	padding-top: 80px;
	background: #f5f5f5;
}


/* NAVBAR */

.btn-back,
.btn-menu {
	display: none;
}

.navbar-default .navbar-brand {
	font-weight: bold;
	color: #333;
}

.navbar-nav i {
	margin-right: 5px;
}


/* MENU */

.menu { display: none; }



/* LISTS */

.list-group label {
	font-weight: normal;
}


/* FORM */

.panel-title {
	margin: 7px 0;
}

.panel-content form {
	padding: 15px;
}




/* FOOTER */

.navbar-fixed-bottom {
	display: none;
}